<button (click) = "Eliminar()">x</button>
<p>
El Sphynx o <b>gato esfinge</b> (también llamado común pero erróneamente gato
    egipcio) es una raza de gato. Pertenece a la familia de los félidos y al
    género Felis. La característica más llamativa de esta raza es la aparente
    ausencia de pelaje y su aspecto delgado y esbelto. Aunque los ejemplares de
    la raza parecen ser gatos sin pelos, hay que destacar que verdaderamente no
    son gatos pelados, sino que presentan la piel cubierta de una capa de vello
    muy fino, corto y parejo, casi imperceptible a la vista o al tacto.
</p>