<button (click) = "Eliminar()">x</button>
<p>
El bengalí es una raza de gato doméstico desarrollada para parecerse a los
    felinos salvajes exóticos tales como son los leopardos, ocelotes, margays,
    etc. <b>El gato bengala</b>, fue un resultado fortuito del cruce casual entre un
    gato doméstico y una hembra gato leopardo (Prionailurus bengalensis).El bengala es una raza muy reciente. El origen de la cría de los gatos híbridos salvajes se sitúa en Estados Unidos, donde la genetista Jean Mill llevó a cabo, en 1963, el primer experimento de cruce entre un gato doméstico y un gato leopardo asiático Prionailurus bengalensis bengalensis, procedente del sur de Asia. Su objetivo era lograr una raza de gatos domésticos mansos con la originaria apariencia de sus antepasados los felinos salvajes.
</p>